<div class="form-group row">
  <label class="col-form-label col-sm-2" for="gagnant">GAGNANT</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="gagnant" value="<%= model.gagnant %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="psg">PSG</label>
  <div class="col-sm-7">
    <input type="number" class="form-control" name="psg" id="psg" value="<%= model.psg %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="om">OM</label>
  <div class="col-sm-10">
      <input type="number" class="form-control" name="om" value="<%= model.psg %>" />
  </div>
</div>